<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ylg.workspace.workspace">

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



            <!--通过H5跳转到APP的URL地址配置-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="yichuangke"
                      android:host="workspace.ylg.com"
                      android:pathPrefix="/test/"
                    />
            </intent-filter>

        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.personaldetails.SetUpActivity" />
        <activity android:name=".activity.personaldetails.MyHistoryActivity" />
        <activity android:name=".activity.personaldetails.MyInformationActivity" />
        <activity android:name=".activity.personaldetails.MyBusinessActivity" />
        <activity android:name=".activity.personaldetails.MyActivity" />
        <activity android:name=".activity.personaldetails.LoginActivity" />
        <activity android:name=".activity.service.ServiceRegisterActivity" />
        <activity android:name=".activity.service.InvestActivity" />
        <activity android:name=".activity.service.OrderVisitorActivity" />
        <activity android:name=".activity.service.FeedbackActivity" />
        <activity android:name=".activity.service.QuestionActivity" />
        <activity android:name=".activity.service.ChooseServiceActivity" />
        <activity android:name=".activity.ballgraph.InfoActivity" />
        <activity android:name=".activity.ballgraph.ExerciseActivity" />
        <activity android:name=".activity.ballgraph.WorkplaceOrderActivity" />
        <activity android:name=".activity.ballgraph.SpaceListActivity" />
        <activity android:name=".country.CountryActivity" />
        <activity android:name=".activity.ballgraph.ConferenceListActivity" />
        <activity
            android:name="com.lidong.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="com.lidong.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />
        <activity android:name=".activity.service.RequirementActivity" />
        <activity android:name=".activity.personaldetails.RegisterActivity" />
        <activity android:name=".activity.personaldetails.CreateEnterpriseActivity" />
        <activity android:name=".activity.ballgraph.MeetRoomOrderActivity" />
        <activity android:name=".activity.ballgraph.PlaceOrderActivity" />
        <activity android:name=".activity.HtmlActivity" />
        <activity android:name=".activity.ballgraph.NeiborActivity" />
        //weibo
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" />
        //weixin
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        //qq
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.xys.libzxing.zxing.activity.CaptureActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59635798c62dca4dd60014a2" />

        <activity android:name=".activity.service.MyFacilityActivity" />
        <activity android:name=".activity.ballgraph.CreatCompanyActivity"/>
    </application>

</manifest>